.lds-facebook {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 3px;
    width: 6px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 3px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 13px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 22px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 25px;
    }

    50%,
    100% {
        top: 19px;
        height: 13px;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: #000;
}